:root {
  --defaultBlack: #414141;
  --defaultWhite: #c0c0c0c0;
  --clr-primary: ;
  --clr-secondary: ;
  --clr-accent: ;

  --clr-black: black;
  --clr-white: white;
  --clr-blue: #00aecd;
  --clr-bf-af: #11dfc3;
  --clr-lg-grey: #333333;
  --clr-dr-grey: #0e0e0e;

  --clr-a: white;
  --clr-strong: white;

  --font-sm_0-75rem: 0.75rem;
  --font-base_1rem: 1rem;
  --font-lg_1-333rem: 1.333rem;
  --font-xl_1-777rem: 1.777rem;
  --font-2xl_2-369rem: 2.369rem;
  --font-3xl_3-157rem: 3.157rem;
  --font-4xl_4-209rem: 4.209rem;
  --font-5xl_5-61rem: 5.61rem;

  --font-thin: 100;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SNIPPET OVER */

/* top nav start*/
.nav1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: var(--clr-lg-grey);
  color: white;
}
.nav1-left {
  font-size: var(--font-lg_1-333rem);
  font-weight: bold;
}
.nav1-right {
  display: flex;
  justify-content: space-between;
  width: 2.5%;
}
/* top nav end */

/* bottom nav start */
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.nav2-mid ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: var(--font-xl_1-777rem);
}
.nav2-mid ul li {
  transition: 0.3s;
}
.nav2-mid ul li:hover {
  padding: 1rem;
  height: 100%;
  background-color: var(--clr-lg-grey);
}
.nav2-right {
  font-size: var(--font-lg_1-333rem);
  display: flex;
  gap: 2rem;
}
/* bottom nav end */

/* section 1 start */

.section1 {
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1508984921474-bc8302cb4d04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-size: var(--font-2xl_2-369rem);
  color: var(--clr-white);
}

/* section 1 end */

/* section 2 start */

.section2 {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-black);
  color: var(--clr-white);
}

.section2-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.section2-content-container > h2 {
  font-size: var(--font-4xl_4-209rem);
}

.section2-content-container > p {
  font-size: var(--font-lg_1-333rem);
}

.section2-content-container :nth-child(2) {
  width: 120ch;
}

.section2-content-container :nth-child(4) {
  width: 150ch;
}

/* section 2 end */

/* section 3 start */

.section3 {
  height: 80vh;
  width: 100%;
}
.section3 {
  object-fit: cover;

  background-image: url(https://images.unsplash.com/photo-1681164315393-8d2850f570fa?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;

  position: relative;
}
.section3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  transition: 0.3s;
}
.section3:hover::before {
  background-color: rgba(0, 0, 0, 0.37);
}

/* section 3 end */

/* section 4 start*/

.section4 {
  background-color: var(--defaultWhite);
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 h2 {
  font-size: 3rem;
  text-align: center;
}
.section4 p {
  width: 80ch;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}

/* section4 end */

/* section 5 start */

.section5 {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.section5-title-container {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-4xl_4-209rem);
  font-weight: 500;

  position: relative;
}
.section5-title {
  position: relative;
  z-index: 2;
}
.section5-title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  height: 10px;
  width: 100%;
  background-color: var(--clr-blue);
  z-index: -1;

  transition: 0.3s;
}
.section5-title:hover.section5-title::before {
  background-color: var(--clr-bf-af);
}
.section5-cards-container {
  height: 40vh;
  width: 100%;
  display: flex;
}
.seciton2-cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.section5-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  width: 17%;
}
.section5-card:hover .section5-card-item-title {
  scale: 1.2;
}
.section5-card img {
  height: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* add your own images */

.section5-card-img1 {
  background-image: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section5-card-img2 {
  background-image: url(https://images.unsplash.com/photo-1614624532983-4ce03382d63d?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section5-card-img3 {
  background-image: url(https://plus.unsplash.com/premium_photo-1681816189679-fa02d1acd1de?q=80&w=2077&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section5-card-img4 {
  background-image: url(https://plus.unsplash.com/premium_photo-1709815046042-a97a67530f3f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section5-card-img5 {
  background-image: url(https://images.unsplash.com/photo-1730578723687-b86ee8c97334?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.section5-card-item-title {
  text-align: center;
  font-size: var(--font-lg_1-333rem);
  font-weight: 500;

  transition: 0.3s;
}
/* section 5 end */


/* footer start */

.back-to-top-btn {
  width: 100%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
  padding: 1rem 2rem;
  font-size: var(--font-lg_1-333rem);
  font-weight: 600;

  transition: 0.3s;

  &:hover {
    background-color: var(--defaultWhite);
    color: var(--clr-black);
  }
}

footer {
  background-color: var(--clr-dr-grey);
  color: white;
}

footer ul li {
  margin-block: 1rem;
}

.footer-product-section-title {
  font-weight: 500;
}

.footer-top-content-container {
  padding-top: 2rem;
  color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-xl_1-777rem);
}
.footer-bottom-content-conatainer-top {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-2xl_2-369rem);
}

.footer-right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fa-brands {
  color: white;
  cursor: pointer;
}

.footer-bottom-policies {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-white);
  font-size: var(--font-lg_1-333rem);
}

.country {
  padding-block: 1em;
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}

.copyright {
  padding-block: 1em;
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}
/* footer-end */