:root {
  --defaultBlack: #414141;
  --defaultWhite: #c0c0c0c0;
  --clr-primary: #9acd32;
  --clr-secondary: ;
  --clr-accent: ;

  --clr-black: black;
  --clr-white: white;
  --clr-blue: #00aecd;
  --clr-bf-af: #11dfc3;
  --clr-lg-grey: #333333;
  --clr-dr-grey: #0e0e0e;

  --clr-a: white;
  --clr-strong: white;

  --font-sm_0-75rem: 0.75rem;
  --font-base_1rem: 1rem;
  --font-lg_1-333rem: 1.333rem;
  --font-xl_1-777rem: 1.777rem;
  --font-2xl_2-369rem: 2.369rem;
  --font-3xl_3-157rem: 3.157rem;
  --font-4xl_4-209rem: 4.209rem;
  --font-5xl_5-61rem: 5.61rem;

  --font-thin: 100;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SNIPPET OVER */

/* aside start */
aside {
  padding: 1rem;
  height: 100vh;
  width: 20%;

  display: inline-block;
}

.aside-wrapper {
  padding: 1rem;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--clr-dr-grey);
  color: var(--clr-white);
}

.logo {
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-navigation {
  padding-top: 2rem;
  border-top: 1px solid var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fa-solid {
  width: 2rem;
}

.aside-element {
  font-size: var(--font-lg_1-333rem);
  position: relative;
}

.aside-element-title {
  display: inline-block;
  width: 70%;
}

.fa-plus {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* aside over */

main {
  padding: 1rem;
  height: 100vh;
  width: 80%;
  display: inline-block;
  position: absolute;
}

/* header start */

header {
  padding: 1rem;
  height: 10%;
  border-radius: 1rem;
  background-color: var(--clr-dr-grey);
  color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 1rem;
  height: 100%;
  width: 30%;
  border-radius: 1rem;
  outline: transparent;
  font-size: var(--font-lg_1-333rem);
}

ul {
  font-size: var(--font-xl_1-777rem);
  display: flex;
  gap: 2rem;
}
/* header end */

.title {
  margin: 0.5rem;
  font-size: var(--font-2xl_2-369rem);
  font-weight: 500;
}

/* admin profile */

.profile-admin-wrapper {
  padding-inline: 1rem;
  height: 15%;
  background-color: var(--clr-dr-grey);
  color: var(--clr-white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.profile-img-container {
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  border-radius: 50%;
}

.profile-admin-container {
  padding-inline: 1rem;
}

.admin-container-name {
  font-size: var(--font-xl_1-777rem);
  font-weight: 500;
}
.admin-container-post {
  opacity: 0.6;
}
.admin-container-location {
  opacity: 0.8;
}

.admin-details-container {
  margin-top: 1rem;
  padding: 1rem;
  height: 35%;
  border-radius: 1rem;
  background-color: var(--clr-dr-grey);
  color: var(--clr-white);

  /* display: flex; */
}

.admin-address-container {
  margin-top: 1rem;
  padding: 1rem;
  height: 25%;
  border-radius: 1rem;
  background-color: var(--clr-dr-grey);
  color: var(--clr-white);
}

.admin-title {
  border-bottom: 1px solid var(--clr-white);
}

.admin-details-wrapper {
  display: flex;
}

.admin-details-top {
  padding-top: 1rem;
  width: 30%;
  font-size: var(--font-lg_1-333rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.admin-details-title {
  opacity: 0.6;
}

.admin-address-container {
  margin-top: 1rem;
  padding: 1rem;
  height: 30%;
  border-radius: 1rem;
  background-color: var(--clr-dr-grey);
  color: var(--clr-white);
}

.admin-title {
  border-bottom: 1px solid var(--clr-white);
}

.admin-details-bottom {
  padding-top: 1rem;
  width: 25%;
  font-size: var(--font-lg_1-333rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.admin-details-title {
  opacity: 0.6;
}

.admin-address {
  padding-top: 1rem;
  width: 25%;
  font-size: var(--font-lg_1-333rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
