:root {
  --defaultBlack: #414141;
  --defaultWhite: #c0c0c0c0;
  --clr-primary: #9acd32;
  --clr-secondary: ;
  --clr-accent: ;

  --clr-black: black;
  --clr-white: white;
  --clr-blue: #00aecd;
  --clr-bf-af: #11dfc3;
  --clr-lg-grey: #333333;
  --clr-dr-grey: #0e0e0e;

  --clr-a: white;
  --clr-strong: white;

  --font-sm_0-75rem: 0.75rem;
  --font-base_1rem: 1rem;
  --font-lg_1-333rem: 1.333rem;
  --font-xl_1-777rem: 1.777rem;
  --font-2xl_2-369rem: 2.369rem;
  --font-3xl_3-157rem: 3.157rem;
  --font-4xl_4-209rem: 4.209rem;
  --font-5xl_5-61rem: 5.61rem;

  --font-thin: 100;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SNIPPET OVER */

a {
  position: relative;
}
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: var(--clr-bf-af);

  transition: 0.3s;
}
a:hover::before {
  width: 100%;
}

/* nav top start */

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.nav-top-mid {
  padding-inline-end: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary);
  width: 40%;
  font-size: var(--font-lg_1-333rem);
  border-radius: 1rem;
}
.nav-top-mid input {
  padding-inline: 1rem;
  font-size: var(--font-lg_1-333rem);
  height: 3rem;
  width: 97%;
  outline: transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-lg_1-333rem);
  width: 25%;
}

/* nav top end */

/* section 1 start */

.section1-title {
  padding-top: 5rem;
  padding-left: 3rem;
  font-size: var(--font-2xl_2-369rem);
  color: var(--clr-white);
  background-color: black;
}

.section1 {
  padding-top: 5rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  background-color: var(--clr-dr-grey);
}
.section1::-webkit-scrollbar {
  width: 0;
}
.section1-cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.section1-card {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 60vh;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 3/4;
}
.section1-card-img-container {
  height: 90%;
  width: 100%;
  overflow: hidden;
}
.section1-card-img-container:hover .section1-card-img {
  scale: 1.1;
}
.section1-card-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: 0.3s;
}
.section1-card-img1 {
  background-image: url(https://images.unsplash.com/photo-1625490939776-17cef70ec079?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section1-card-img2 {
  background-image: url(https://images.unsplash.com/photo-1583273501476-2c458377bc8c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section1-card-img3 {
  background-image: url(https://images.unsplash.com/photo-1508984921474-bc8302cb4d04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section1-card-img4 {
  background-image: url(https://images.unsplash.com/photo-1615750173609-2fbf12fd1d2d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.section1-card-description {
  padding: 0.3rem 1rem;
  height: 20%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
}
.section1-card-description-title {
  font-size: var(--font-xl_1-777rem);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.section1-card-item-description {
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}

/* section 1 end */


/* section 2 start */
.section2-title {
  padding-top: 5rem;
  padding-left: 3rem;
  font-size: var(--font-2xl_2-369rem);
  color: var(--clr-white);
  background-color: black;
}
.section2 {
  padding-top: 5rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  /* background-color: var(--clr-dr-grey); */
  background-image: linear-gradient(var(--clr-dr-grey), var(--defaultWhite));
}
.section2::-webkit-scrollbar {
  width: 0;
}
.section2-cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.section2-card {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 60vh;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 5/4;
}
.section2-card-img-container {
  height: 90%;
  width: 100%;
  overflow: hidden;
}
.section2-card-img-container:hover .section2-card-img {
  scale: 1.1;
}
.section2-card-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: 0.3s;
}
.section2-card-img1 {
  background-image: url(https://images.unsplash.com/photo-1625490939776-17cef70ec079?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section2-card-img2 {
  background-image: url(https://images.unsplash.com/photo-1583273501476-2c458377bc8c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section2-card-img3 {
  background-image: url(https://images.unsplash.com/photo-1508984921474-bc8302cb4d04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section2-card-img4 {
  background-image: url(https://images.unsplash.com/photo-1615750173609-2fbf12fd1d2d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.section2-card-description {
  padding: 0.3rem 1rem;
  height: 20%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
}
.section2-card-description-title {
  font-size: var(--font-xl_1-777rem);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.section2-card-item-description {
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}

/* section 2 end */

/* section 3 start */
.section3-title {
  padding-block: 2.5rem;
  padding-left: 3rem;
  font-size: var(--font-2xl_2-369rem);
  color: var(--clr-white);
  background-color: black;
  background-image: linear-gradient(var(--clr-dr-grey), var(--defaultBlack));

}
.section3 {
  padding-top: 5rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  background-image: conic-gradient(var(--clr-dr-grey), var(--defaultWhite));
}
.section3::-webkit-scrollbar {
  width: 0;
}
.section3-cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.section3-card {
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 60vh;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 4/2;
}
.section3-card-img-container {
  height: 90%;
  width: 100%;
  overflow: hidden;
}
.section3-card-img-container:hover .section3-card-img {
  scale: 1.1;
}
.section3-card-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: 0.3s;
}
.section3-card-img1 {
  background-image: url(https://images.unsplash.com/photo-1625490939776-17cef70ec079?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section3-card-img2 {
  background-image: url(https://images.unsplash.com/photo-1583273501476-2c458377bc8c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section3-card-img3 {
  background-image: url(https://images.unsplash.com/photo-1508984921474-bc8302cb4d04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.section3-card-img4 {
  background-image: url(https://images.unsplash.com/photo-1615750173609-2fbf12fd1d2d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.section3-card-description {
  padding: 0.3rem 1rem;
  height: 20%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
}
.section3-card-description-title {
  font-size: var(--font-xl_1-777rem);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.section3-card-item-description {
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}

/* section 3 end */


/* footer start */
.back-to-top-btn {
  width: 100%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
  padding: 1rem 2rem;
  font-size: var(--font-lg_1-333rem);
  font-weight: 600;

  transition: 0.3s;

  &:hover {
    background-color: var(--defaultWhite);
    color: var(--clr-black);
  }
}

footer {
  background-color: var(--clr-dr-grey);
  color: white;
}

footer ul li {
  margin-block: 1rem;
}

.footer-product-section-title {
  font-weight: 500;
}

.footer-top-content-container {
  padding-top: 2rem;
  color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-xl_1-777rem);
}
.footer-bottom-content-conatainer-top {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-2xl_2-369rem);
}

.footer-right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fa-brands {
  color: white;
  cursor: pointer;
}

.footer-bottom-policies {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-white);
  font-size: var(--font-lg_1-333rem);
}

.country {
  padding-block: 1em;
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}

.copyright {
  padding-block: 1em;
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}
/* footer-end */