:root {
  --defaultBlack: #414141;
  --defaultWhite: #c0c0c0c0;
  --clr-primary: #9acd32;
  --clr-secondary: ;
  --clr-accent: ;

  --clr-black: black;
  --clr-white: white;
  --clr-blue: #00aecd;
  --clr-bf-af: #11dfc3;
  --clr-lg-grey: #333333;
  --clr-dr-grey: #0e0e0e;
  --clr-orange: #ff7300;

  --clr-a: white;
  --clr-strong: white;

  --font-sm_0-75rem: 0.75rem;
  --font-base_1rem: 1rem;
  --font-lg_1-333rem: 1.333rem;
  --font-xl_1-777rem: 1.777rem;
  --font-2xl_2-369rem: 2.369rem;
  --font-3xl_3-157rem: 3.157rem;
  --font-4xl_4-209rem: 4.209rem;
  --font-5xl_5-61rem: 5.61rem;

  --font-thin: 100;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: conic-gradient( var(--defaultBlack), var(--clr-orange), var(--defaultWhite));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SNIPPET OVER */

.form-container {
  background-color: var(--clr-black);
  color: var(--clr-white);
  height: 85vh;
  width: 35vw;
  border-radius: 3rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: fit-content;
  width: 80%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-title {
  padding: 2rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.user-email-container,
.user-password-container {
  padding-top: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
  outline: transparent;
  border-radius: 0.5rem;
}

.forgot-password {
  padding-top: 1rem;
  font-size: 1.25rem;
}

.sign-up-btn {
  margin-block: 2rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  background-color: var(--clr-blue);

  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  text-align: center;
  font-size: 1.15rem;
}

.continue-with-btn {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  background-color: var(--clr-blue);

  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  padding: 1rem;
  text-align: center;
}

.have-acc {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.15rem;
}