:root {
  --defaultBlack: #414141;
  --defaultWhite: #c0c0c0c0;
  --clr-primary: ;
  --clr-secondary: ;
  --clr-accent: ;

  --clr-black: black;
  --clr-white: white;
  --clr-blue: #00aecd;
  --clr-bf-af: #11dfc3;
  --clr-lg-grey: #333333;
  --clr-dr-grey: #0e0e0e;

  --clr-a: white;
  --clr-strong: white;

  --font-sm_0-75rem: 0.75rem;
  --font-base_1rem: 1rem;
  --font-lg_1-333rem: 1.333rem;
  --font-xl_1-777rem: 1.777rem;
  --font-2xl_2-369rem: 2.369rem;
  --font-3xl_3-157rem: 3.157rem;
  --font-4xl_4-209rem: 4.209rem;
  --font-5xl_5-61rem: 5.61rem;

  --font-thin: 100;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SNIPPET OVER */

a {
  position: relative;
}
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: var(--clr-bf-af);

  transition: 0.3s;
}
a:hover::before {
  width: 100%;
}

/* top nav start*/
.nav1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: var(--clr-lg-grey);
  /* sectiono 2 start */
  color: white;
}
.nav1-left {
  font-size: var(--font-lg_1-333rem);
  font-weight: bold;
}
.nav1-right {
  display: flex;
  justify-content: space-between;
  width: 2.5%;
}
/* top nav end */

/* bottom nav start */
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.nav2-mid ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: var(--font-xl_1-777rem);
}
.nav2-mid ul li {
  transition: 0.3s;
}
.nav2-mid ul li:hover {
  padding: 1rem;
  height: 100%;
  background-color: var(--clr-lg-grey);
}
.nav2-right {
  font-size: var(--font-lg_1-333rem);
}
/* bottom nav end */

/* section 1 start */

.section1 {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;

  position: relative;

}
.section1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  transition: 0.3s 0.1s;
}
.section1:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.section1:hover.section1 > h1,
.section1:hover.section1 > p {
  color: var(--clr-white);
}
.section1:hover.section1 input {
  color: black;
  background-color: white;
}

.section1 h1 {
  text-align: center;
  font-size: var(--font-5xl_5-61rem);
  z-index: 1;

  transition: 0.4s;
}
.section1 p {
  text-align: center;
  z-index: 1;
  transition: 0.5s;
}
.section1-input-container {
  text-align: center;
  z-index: 1;
}
.section1-input-container input {
  padding: 1rem 2rem;
  font-size: var(--font-xl_1-777rem);
  outline: transparent;
  border: none;

  background-color: black;
  color: white;

  transition: 0.3s;
}

.section1-input-container input:hover {
  scale: 1.025;
}

/* seciton 1 end */

.wrapper-div {
  height: 110vh;
  position: relative;
}

/* aside start */

aside {
  height: 100vh;
  width: 30%;
  position: absolute;
  left: 0;
}
aside::-webkit-scrollbar {
  width: 0;
}
.aside-content-container {
  height: 100%;
  padding-block: 2rem;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}
.aside-content-container h2 {
  font-size: var(--font-3xl_3-157rem);
}
.aside-points-container {
  padding-top: 2rem;
}
.aside-content-point {
  font-size: var(--font-xl_1-777rem);
  padding: 1rem;
  border: 1px solid var(--defaultBlack);
  margin: 0.2rem;

  transition: 0.3s;
}
.aside-content-point:hover {
  background-color: grey;
  color: white;
}

/* aside end */

/* section 2 start */

.section2 {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 2rem;
  width: max-content;
  display: inline-block;
  height: 100vh;
  width: 70%;
}
.sign-in-card-container {
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sign-in-card-container h1 {
  font-size: var(--font-3xl_3-157rem);
}
.sign-in-card-container p {
  font-size: var(--font-xl_1-777rem);
  text-align: center;
  width: 70ch;
}
.sign-in-card-container button {
  margin-top: 1rem;
  padding: 0.5em 2em;
  font-size: var(--font-xl_1-777rem);
  background-color: var(--clr-dr-grey);
  border-radius: 0.5rem;

  transition: 0.3s;
  
  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
    scale: 1.1;
  }
}

/* section 2 end */

/* section 3 start */

.section3 {
  position: absolute;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
    
  right: 0;
  top: 22rem;
  height: 70vh;
  width: 70%;
  /* background-image: radial-gradient(var(--clr-dr-grey), white); */
}
.section3-top {
  padding: 1rem;
  height: 50%;
  width: 100%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3-bottom {
  padding: 1rem;
  height: 50%;
  width: 100%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3-help-title {
  font-size: var(--font-2xl_2-369rem);
}
.section3-helper-card-container {
  height: 70%;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 1rem;
  align-items: center;

}
.section3-helper-card {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-3xl_3-157rem);
  background-color: var(--clr-dr-grey);
  border-radius: 1rem;

  transition: 0.2s;

  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-dr-grey);
  }
}

/* section 3 end */


/* footer start */

.back-to-top-btn {
  width: 100%;
  background-color: var(--clr-lg-grey);
  color: var(--clr-white);
  padding: 1rem 2rem;
  font-size: var(--font-lg_1-333rem);
  font-weight: 600;

  transition: 0.3s;

  &:hover {
    background-color: var(--defaultWhite);
    color: var(--clr-black);
  }
}

footer {
  background-color: var(--clr-dr-grey);
  color: white;
}

footer ul li {
  margin-block: 1rem;
}

.footer-product-section-title {
  font-weight: 500;
}

.footer-top-content-container {
  padding-top: 2rem;
  color: var(--clr-white);
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-xl_1-777rem);
}
.footer-bottom-content-conatainer-top {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-2xl_2-369rem);
}

.footer-right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fa-brands {
  color: white;
  cursor: pointer;
}

.footer-bottom-policies {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-white);
  font-size: var(--font-lg_1-333rem);
}

.country {
  padding-block: 1em;
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}

.copyright {
  padding-block: 1em;
  text-align: center;
  font-size: var(--font-lg_1-333rem);
}
/* footer-end */